:root{
	--magenta: hsl(331deg 64% 52%);
	--red: hsl(348deg 74% 40%);
	--orange: hsl(18deg 80% 44%);
	--yellow: hsl(45deg 100% 35%);
	--green: hsl(68deg 100% 30%);
	--blue: hsl(220deg 52% 45%);
	--cyan: hsl(175deg 59% 40%);
	--violet: hsl(237deg 43% 60%);
}

@font-face{
	font-family: "Cabin Condensed";
	src: url(cabin-condensed.woff2) format('woff2');
	font-display: swap;
}

html{
	background-color: var(--background-colour);
	color: var(--text-colour);
	overflow: hidden;
}

body{
	text-align: center;
}

main{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

#question{
	font-size: 24pt;
	color: var(--secondary-colour);
}

#answer{
	font-size: 48pt;
}

aside{
	transform: rotate(45deg);
	background-color: var(--cyan);
	position: absolute;
	top: 42px;
	right: -42px;
	width: 220px;
	height: 3.42ex;
	line-height: 3.42ex;
	font-family: 'Cabin Condensed', sans-serif;
	display: block;
	
	img{
		height: 2ex;
		width: 2ex;
		vertical-align: baseline;
	}
	
	a{
		color: var(--background-colour);
		text-decoration: none;
	}
}